.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5rem;
    width: 2.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline: none;
}
.toogle-button_line{
    width: 2.25rem;
    height: 0.125rem;
    background: white;
}