.item-1{
    background: rgb(89, 194, 57);
    padding: 5rem;
}
    
.item-2{
    background: rgb(57, 185, 194);
    padding: 5rem;
}
/* .item-5{
    background: rgb(57, 185, 194);
    padding: 5rem;
}
.item-6{
    background: rgb(57, 185, 194);
    padding: 5rem;
} */