
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    background: rgb(53, 97, 122);
    /* box-shadow:0 1px 5px rgba(104, 104, 104, 0.8); */
    /* box-shadow: 10px 5px 5px grey; */
    background: #80808000;
    padding: 1rem;
}
.single{
    width: 100%;
    box-shadow: 10px 5px 5px grey;
}
.pic{
    width:100%;
}
.description{
    background: black;
    color: white;
    padding: 0.875rem;
}