.section2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5em;
    text-align: center;
    align-content: center;
}
.media{
    width:100%;
}
.stack{
    background:#3262e680;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.3em;
}
.front{
    grid-column-start:2;
    /* background: darkgoldenrod; */
    width: 26rem;
    
}
.front >div{
    background: rgba(250, 248, 248, 0.4);
    padding: 1rem;
}
.front >div:nth-child(odd){
    /* background: #eb232380; */
    padding: 1rem;
}

.item{
    padding: 1rem;
}


.back{
    grid-column-start: 3;
    background: hsla(0, 71%, 51%, 0.7);
    /* background: hsla(0, 71%, 51%, 0.7); */
    width: 25rem;
} 
.back >div{
    background:rgba(250, 248, 248, 0.4);
    padding: 0.3rem;
}
.back >div:nth-child(odd){
    background: transparent;
    /* padding: 1rem; */
}
.skills{
    grid-column-start: 4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

h3{
    color: white;
    
}