
.section2{
    display: grid;
    grid-template-columns: repeat(12, 1fr, 1fr, 1fr);
    grid-gap: 0.5em;
    grid-template-rows: 50rem;
    /* width: 35rem; */
    /* text-align: center;
    align-content: center; */
}
.media{
    width:100%;
}
.stack{
    background:#3262e680;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.3em;
}
.front{
    grid-column-start:1;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    /* background: darkgoldenrod; */
    /* width: 15rem; */
    
}
.front >div{
    background: rgba(250, 248, 248, 0.4);
    padding: 1rem;
}
/* .front >div:nth-child(odd){
  background: #eb232380; 
    padding: 1rem;
} */

.item{
    padding: 1rem;
}


.back{
    grid-column-start: 3;
    grid-column: 3/8;
    grid-template-columns: repeat(1, 1fr);
    background: hsla(0, 71%, 51%, 0.7);
    align-self: center;
    border-radius: 5px;
    width: 5.65rem;
} 
.back >div{
    background:rgba(250, 248, 248, 0.4);
    padding: 0.3rem;
}
.back >div:nth-child(odd){
    background: transparent;
}
.skills{
    display: grid;
    grid-column-start: 9;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    text-align: center;
    /* grid-template-columns: repeat(6,1fr); */
    /* width: 15rem; */
}

h3{
    color: white;
    
}