html body {
   /* display: grid; */
   /* grid-template-columns: repeat(12, 1fr); */
   background: url(/media/viggo-unsplash.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 3;
}

/* #root{
   margin: 0 auto;
   background: aqua;
} */

/* .container{
   height: 100%;
   width: 100%;  
   margin-top: 8rem;   
} */
h2 {
   font-size: 1em;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}